base {
	log_debug = off;
	log_info = off;
	log = "file:/dev/null";
	daemon = off;
	redirector = iptables;
}

redsocks {
	bind = "0.0.0.0:|LOCAL_PORT|";
	relay = "|PROXY_IP|:|PROXY_PORT|";
	type = |PROXY_TYPE|;
	autoproxy = |AUTO_PROXY|;
	timeout = |TIMEOUT|;
}
